div{
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

div:hover{
    outline: 3px solid red;
    outline-offset: 5px;
}

#div1{
    background-color: lightblue;
}

#div2{
    background-color: cyan;
}

#div3{
    background-color: chartreuse;
}