body{
    background-color: lightgray;
    text-align: center;
}

#div{
    width: 500px;
    background-color: white;
    padding: 25px;
    margin: 40px auto;
    border: 2px solid gray;
    border-radius: 10px;
}

#head{
    color: darkblue;
    font-size: 30px;
    text-align: center;
}

label{
    display: block;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid gray; 
    font-size: 16px;
    box-sizing: border-box;
}

#btnDiv{
    display: flex;
    gap: 250px;
}
button{
    width: 48%;
    padding: 10px; 
    font-size: 16px; 
    color: white; 
    border: 0px; 
    cursor: pointer;
}

button[type="submit"]{
    background-color: green;
}

button[type="reset"]{
    background-color: red;
}

#cardDiv{
    width: 100%; 
    margin-top: 25px; 
    padding: 20px; 
    border: 2px solid black; 
    border-radius: 8px; 
    text-align: Center ;
}