div{
    text-align: justify;

    width: 720px;
    height: 360px;

    color: black;
    background-color: aqua;


    /* padding: top-bottom  right-left; */
    padding: 30px;


    border: 2px solid darkblue;
    border-radius: 5%;
    

    outline-offset: 20px;


    outline: 10px solid black;


    /* margin: top right bottom left; */
    margin: 40px;


    opacity: 0.5;

    cursor: pointer;
}