div{
    height: 100px;
    width: 100px;
}

#div1{
    display: inline-block;
    background-color: limegreen;
}

#div2{
    display: inline;
    background-color: lightblue;
}

#div3{
    display: none;
    background-color: lightblue;
}

#div4{
    display: block;
    background-color: lightcoral;
}

#div5{
    visibility: hidden;
    background-color: lightblue;
}

#div6{
    display: flex;
    background-color: lightpink;
}